CVServer/CVServer/Service References/ClientNotification/ClientNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientNotification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientNotification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommandData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" type="tns:Commands" />
      <xs:element minOccurs="0" name="CounterNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandData" nillable="true" type="tns:CommandData" />
  <xs:simpleType name="Commands">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Shutdown" />
      <xs:enumeration value="Restart" />
      <xs:enumeration value="AccountLogout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Commands" nillable="true" type="tns:Commands" />
  <xs:complexType name="ArrayOfCommandData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandData" nillable="true" type="tns:CommandData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandData" nillable="true" type="tns:ArrayOfCommandData" />
</xs:schema>