CVServer/CVServer/Service References/ClientNotification/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClientNotification" />
  <xs:element name="setCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClientNotification" minOccurs="0" name="command" nillable="true" type="q1:CommandData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClientNotification" minOccurs="0" name="GetCommandsResult" nillable="true" type="q2:ArrayOfCommandData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="counterNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>