CVClient/CVClient/CVClient/Service References/ServerSideService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" />
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="counterNumber" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserLoginResult" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="counterNumber" type="xs:short" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TeamLoginResult" nillable="true" type="q2:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserMunitieCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="counterNumber" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserMunitieCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserMunitieCounterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamMunitieCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="counterNumber" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamMunitieCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamMunitieCounterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="AccountDetailsResult" nillable="true" type="q3:Userinformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="updateinfo" nillable="true" type="q4:Userinformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserLoginHistoryAllResult" nillable="true" type="q5:ArrayOfLoginHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserLoginHistoryDateResult" nillable="true" type="q6:ArrayOfLoginHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryTwoDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="secondDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginHistoryTwoDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserLoginHistoryTwoDateResult" nillable="true" type="q7:ArrayOfLoginHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserRechargeHistoryAllResult" nillable="true" type="q8:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserRechargeHistoryDateResult" nillable="true" type="q9:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryTwoDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="secondDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRechargeHistoryTwoDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="UserRechargeHistoryTwoDateResult" nillable="true" type="q10:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="TeamRechargeHistoryAllResult" nillable="true" type="q11:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="TeamRechargeHistoryDateResult" nillable="true" type="q12:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryTwoDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="secondDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamRechargeHistoryTwoDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="TeamRechargeHistoryTwoDateResult" nillable="true" type="q13:ArrayOfUserRechareHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q14:ArrayOfAllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamNameChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamNameCheckerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamNameCheckerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="teamInfo" nillable="true" type="q15:TeamInfo" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="members" nillable="true" type="q16:ArrayOfAllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="member" nillable="true" type="q17:AllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CounterSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CounterSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="CounterSettingsResult" nillable="true" type="q18:counterSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="GetTeamNameResult" nillable="true" type="q19:ArrayOfAllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="teamMembers" nillable="true" type="q20:ArrayOfAllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTeamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginHistoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginHistoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeamLogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Procesta.serverSideService.Class.Propertyes" minOccurs="0" name="GetTeamMemberResult" nillable="true" type="q21:ArrayOfAllUserAndTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserBalanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTeamBalanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordChangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTeamLogoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamLogo" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTeamLogoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>