CVClient/CVClient/CVClient/Service References/ServerNotifaction/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IServerNotification_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServerNotification_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerNotification" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerNotification_SetCounterInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCounterInformation" />
  </wsdl:message>
  <wsdl:message name="IServerNotification_GetCounterInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCounterInformation" />
  </wsdl:message>
  <wsdl:message name="IServerNotification_GetCounterInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCounterInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IServerNotification_RemoveCounterInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCounterInformation" />
  </wsdl:message>
  <wsdl:message name="IServerNotification_RemoveCounterInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCounterInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerNotification">
    <wsdl:operation name="SetCounterInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerNotification/SetCounterInformation" message="tns:IServerNotification_SetCounterInformation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCounterInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerNotification/GetCounterInformation" message="tns:IServerNotification_GetCounterInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerNotification/GetCounterInformationResponse" message="tns:IServerNotification_GetCounterInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCounterInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerNotification/RemoveCounterInformation" message="tns:IServerNotification_RemoveCounterInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerNotification/RemoveCounterInformationResponse" message="tns:IServerNotification_RemoveCounterInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IServerNotification" type="tns:IServerNotification">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IServerNotification_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="SetCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/SetCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/GetCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/RemoveCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServerNotification" type="tns:IServerNotification">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerNotification_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/SetCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/GetCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCounterInformation">
      <soap12:operation soapAction="http://tempuri.org/IServerNotification/RemoveCounterInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerNotificationService">
    <wsdl:port name="NetNamedPipeBinding_IServerNotification" binding="tns:NetNamedPipeBinding_IServerNotification">
      <soap12:address location="net.pipe://localhost/ServerNotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ServerNotificationService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServerNotification" binding="tns:NetTcpBinding_IServerNotification">
      <soap12:address location="net.tcp://localhost:7086/ServerNotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7086/ServerNotificationService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>