CVClient/CVClient/CVClient/Service References/ServerNotifaction/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerNotification" />
  <xs:element name="SetCounterInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerNotification" minOccurs="0" name="counterInfo" nillable="true" type="q1:CounterInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerNotification" minOccurs="0" name="GetCounterInformationResult" nillable="true" type="q2:ArrayOfCounterInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCounterInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerNotification" minOccurs="0" name="counterInfo" nillable="true" type="q3:CounterInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCounterInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>